(defnode main)

(defloop play-files
  (Audio.ReadFile "../../external/file_example_OOG_1MG.ogg" :From 1.0 :To 1.023219954648526)
  (Log))

(schedule main play-files)
(run main)
(schedule main play-files)
(run main)

(defloop play-file-fft
  (Audio.ReadFile "../../external/file_example_OOG_1MG.ogg" :Channels 1 :From 5.0 :To 6.0)
  (DSP.FFT) = .freq-domain
  (DSP.IFFT :Audio true)
  (Audio.WriteFile "example-fft.wav" :Channels 1)
  .freq-domain (DSP.IFFT :Complex true) (DSP.FFT) ; FOR COVERAGE
  .freq-domain (DSP.IFFT :Complex false)
  (Math.Normalize :Positive true)
  (FloatsToImage 32 32 1) (WritePNG "example.wav.png") ; again, just for coverage
  (Log))

(schedule main play-file-fft)
(run main)

;; (defloop play-file-dwt
;;   (Audio.ReadFile "../../external/file_example_OOG_1MG.ogg" :Channels 1 :From 5.0 :To 6.0)
;;   (DSP.Wavelet)
;;   (DSP.InverseWavelet)
;;   (Audio.WriteFile "example-dwt.wav" :Channels 1))

;; (schedule main play-file-dwt)
;; (run main)

(defloop device-test
  (Audio.Device)
  (Audio.Channel :Blocks (-> (Input))))

(schedule main device-test)
(run main 0.1 50)

(defloop device-test
  (Audio.Device)
  (Audio.Channel :Blocks (-> (Audio.ReadFile "../../external/file_example_OOG_1MG.ogg"
                                             :Channels 2
                                             :From 4.0 :To 6.0))))

(schedule main device-test)
(run main)

(defloop device-test
  (Audio.Device)
  (Audio.Channel :Blocks (-> 440.0 (Audio.Oscillator))))

(schedule main device-test)
(run main 0.1 50)