(defnode main)

(defloop play-files
  (Audio.ReadFile "../../external/file_example_OOG_1MG.ogg" :From 1.0 :To 1.023219954648526)
  (Log))

(schedule main play-files)
(run main)
(schedule main play-files)
(run main)

(defloop play-file-fft
  (Audio.ReadFile "../../external/file_example_OOG_1MG.ogg" :Channels 1 :From 5.0 :To 10.0)
  (DSP.FFT)
  (DSP.IFFT)
  (Audio.WriteFile "example.wav" :Channels 1)
  (Log))

(schedule main play-file-fft)
(run main)