; SPDX-License-Identifier: BSD-3-Clause
; Copyright © 2021 Fragcolor Pte. Ltd.

(defmesh main)

(defloop c1
  .msg1 (Log))

(defloop c2
  .msg2 (Log))

(defloop c
  "Hello" = .msg1
  "World" = .msg2
  (Branch [c1 c2])
  (Msg "And Universe"))

(schedule main c)
(if (run main 0.2 25) nil (throw "Root tick failed"))

(defwire c4 ; this wire doesn't require .msg1 until it's run
  "(defloop c3 .msg1 (Log))"
  (EDN.Eval) (ExpectWire) = .c3
  (WireRunner .c3 :Mode RunWireMode.Detached)
  (Wait .c3))

(defloop c
  "Hello" = .msg1
  (Branch [c4] :CaptureAll true))

(schedule main c)
(if (run main 0.2 25) nil (throw "Root tick failed"))

;; (defwire c4 ; this wire doesn't require .msg1 until it's run
;;   "(defloop c3 .msg1 (Log))"
;;   (EDN.Eval) (ExpectWire) = .c3
;;   (Spawn .c3)
;;   (Wait .c3))

;; (defloop c
;;   "Hello" = .msg1
;;   (Branch [c4] :CaptureAll true))

;; (schedule main c)
;; (if (run main 0.2 25) nil (throw "Root tick failed"))