(defwire count-wire
  (If (Is 1)
      :Then (Pass)
      :Else
      (If (-> (Math.Mod 2) (Is 0))
          :Then (-> (Log "n") (Math.Divide 2) (Recur) (Math.Add 1))
          :Else (-> (Log "n") (Math.Multiply 3) (Math.Add 1) (Recur) (Math.Add 1)))))

(def main-wire (Wire "main-wire" :LStack
  837799 (Do count-wire)
  (Log "Answer")))

(defmesh root)
(schedule root main-wire)
(run root)