(defmacro! defchain (fn* [name & blocks] `(def! ~(symbol (str name)) (Chain ~(str name) (chainify (vector ~@blocks))))))
(defmacro! defloop (fn* [name & blocks] `(def! ~(symbol (str name)) (Chain ~(str name) :Looped (chainify (vector ~@blocks))))))
(defmacro! defblocks (fn* [name args & blocks] `(defn ~(symbol (str name)) ~args (chainify (vector ~@blocks)))))

(defblocks blocks [a b]
  (Msg a)
  (Msg b))

(defchain x
  "Hello world"
  (Log))

(defloop y
  "Hello world"
  (Log)
  (Pause 0.1)
  (blocks "one" "1")
  (blocks "two" "2"))

(def Root (Node))
(schedule Root x)
(schedule Root y)
(run Root 0.1 50)