(defn do-things []
  (def timestep (/ 1.0 120.0))
  (defmesh root)
  (schedule root
            (Wire "main-loop-wire"
                  {:Contents [{:Shards [(-> 0.0
                                            ["a" "b" (-> "c")] >= .mySeq)]}]} (ToBytes) >= .bytes
                  .bytes (FromBytes) (Log "Deserialized")
                  .bytes (FromBytes) (Log "Deserialized")
                  .bytes (FromBytes) (Log "Deserialized")
                  .bytes (FromBytes) (Log "Deserialized")
                  .bytes (FromBytes) (Log "Deserialized")))
  (run root timestep 1)
  (def root nil))
(do-things)
