(defnode Main)
(defloop test
  10 = .10
  20 = .20
  [.10 .20] (Math.Add [40 30])
  (Assert.Is [50 50] true)
  {"Hello" .10
   "World" .20} (Take "Hello") (Assert.Is 10 true))

(schedule Main test)
(run Main 0.2 10)