(defnode main)

(defchain uglify
  "general.edn"
  (FS.Read)
  (EDN.Uglify ["WriteFile" nil]) = .ugly1
  ;; (EDN.Parse) (Log)
  "general.ugly.edn"
  (FS.Write .ugly1 :Overwrite true)
  (Log)
  "loader.clj"
  (FS.Read)
  (EDN.Uglify) = .ugly2
  "loader.ugly.clj"
  (FS.Write .ugly2 :Overwrite true)
  (Log)
  "bgfx.clj"
  (FS.Read)
  (EDN.Uglify) = .ugly3
  "bgfx.ugly.clj"
  (FS.Write .ugly3 :Overwrite true)
  (Log))

(schedule main uglify)
(run main)