(defnode Main)

(def abi "
[{
\"inputs\": [
{
\"internalType\": \"uint160\",
\"name\": \"templateHash\",
\"type\": \"uint160\"
},
{
\"internalType\": \"bytes\",
\"name\": \"environment\",
\"type\": \"bytes\"
},
{
\"internalType\": \"bytes32\",
\"name\": \"cacheDirectoryCid\",
\"type\": \"bytes32\"
},
{
\"internalType\": \"uint256\",
\"name\": \"includeCost\",
\"type\": \"uint256\"
}
],
\"name\": \"update\",
\"outputs\": [],
\"stateMutability\": \"nonpayable\",
\"type\": \"function\"
}]")

(def abi2 "
[{
\"inputs\": [
{
\"internalType\": \"uint160\",
\"name\": \"templateHash\",
\"type\": \"uint160\"
},
{
\"internalType\": \"string\",
\"name\": \"tokenName\",
\"type\": \"string\"
},
{
\"internalType\": \"string\",
\"name\": \"tokenSymbol\",
\"type\": \"string\"
}
],
\"name\": \"rez\",
\"outputs\": [
{
\"internalType\": \"address\",
\"name\": \"\",
\"type\": \"address\"
}
],
\"stateMutability\": \"nonpayable\",
\"type\": \"function\"
}]")

(defchain test
  10 (BigInt) = .b0 (| (BigInt.ToInt) (Log)) (BigInt.ToBytes) = .0 (Log)
  20 (BigInt) = .b1 (BigInt.ToBytes) = .1 (Log)
  30 (BigInt) = .b2 (BigInt.ToBytes) = .2 (Log)
  40 (BigInt) = .b3 (BigInt.ToBytes) = .3 (Log)
  [.0 .1 .2 .3]
  (Eth.EncodeCall abi "update")
  (| (Slice :From 4) ; remove call name/hash
     (Eth.DecodeCall abi "update" :Input true)
     (| (Take 0) (ExpectBytes) (| (ToHex) (Log)) (BigInt) (| (BigInt.ToInt) (Log)) (BigInt.Is .b0) (Assert.Is true true))
     (| (Take 1) (ExpectBytes) (| (ToHex) (Log)) (BigInt) (| (BigInt.ToInt) (Log)))
     (| (Take 2) (ExpectBytes) (| (ToHex) (Log)) (BigInt) (| (BigInt.ToInt) (Log)))
     (| (Take 3) (ExpectBytes) (| (ToHex) (Log)) (BigInt) (| (BigInt.ToInt) (Log)) (BigInt.Is .b3) (Assert.Is true true))
     (Log))
  (ToHex)
  (Log "Hex Input")
  (Assert.Is "0xd443e458000000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000801e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002800000000000000000000000000000000000000000000000000000000000000011400000000000000000000000000000000000000000000000000000000000000" true)

  "0x0000000000000000000000006b175474e89094c44da98b954eedeac495271d0f"
  (Eth.DecodeCall abi2 "rez")
  (Log "Decoded"))

(schedule Main test)
(run Main)