(def timestep (/ 1.0 120.0))
(defmesh Root)
(defloop test-wire
   :Looped
   (GFX.MainWindow
    :Title "SDL Window" :Width nil :Height nil :Debug false))

(schedule Root test-wire)
(run Root timestep 100)
