(defmesh root)
(defwire test-wire
  (Float3 3 4 2) >= .v3
  (ToFloat4) >= .v4
  (Log "Vector 4")
  (GFX.TestTranslator (->
                       (Float4 0 0 0 1) >= .v4-one
                       (Int4 1 2 3 4) >= .v4i
                       (ToFloat4) >= .v4i-conv0
                       .v4i (ToFloat3) >= .v3i-conv1
                       (Shader.ReadBuffer "world" :Dimension 16) >= .world-transform
                       (Shader.ReadBuffer "view" :BufferName "view" :Dimension 16) >= .view-transform

                       (Shader.ReadInput "position" :Dimension 3) >= .pos-local
                       (ToFloat4) (Math.Add .v4-one) >= .pos-local4

                       .world-transform (Math.MatMul .pos-local4) >= .world-pos
                       .view-transform (Math.MatMul .world-pos) >= .screen-pos
                       (Shader.WriteOutput "position")

                      ;;  1.0 >= .a
                      ;;  3.14 >= .pi
                      ;;  .a (Math.Multiply .pi) (Math.Add 2.0) >= .b

   ; --- end shader
                       )))

(schedule root test-wire)
(run root (/ 1.0 120.0))
