(defmesh one)
(defmesh two)
(defmesh three)

(defn wire-template []
  (Wire "ABC" :Looped (Msg "hello")))

(schedule one (wire-template))  
(schedule two (wire-template))
(schedule three (wire-template))

(run-many [one two three] 0.1 20)
