(defmesh main)

(defwire onnx-test
  (LoadImage "svgtest.png") (StripAlpha) (ResizeImage 224 224) (ImageToFloats) = .image
  (ONNX.Load "nsfw-mnet2.onnx" [1 224 224 3]) = .model (Log)
  (|| .image (ONNX.Activate :Model .model) (Log)))

(schedule main onnx-test)
(run main)