(defmesh main)

(defwire onnx-test
  (LoadImage "../../assets/simple1.PNG") (StripAlpha) (ResizeImage 224 224) (ImageToFloats) = .image
  (ONNX.Load "mobilenetv2-7.onnx" [1 3 224 224]) = .model (Log)
  (|| .image (ONNX.Activate :Model .model) (Log)))

(schedule main onnx-test)
(run main)