(defmesh root)

(defpure upload-proto
  (ExpectBytes)
  "Hello" = .proto-data
  "Namaste")
(defwire main0
  "Proto-Indo-European" = .proto-data
  .proto-data (ToBytes) (Do upload-proto) (Log)
  .proto-data (Log)
  (Assert.Is "Proto-Indo-European" true))

(defpure main-pure
  2 >= .value
  (ForRange 0 10 (->
                  .value (Math.Add .value) > .value))
  .value (Log "Result") (Assert.Is 4096 true))

(defpure pure0
  2 >= .value
  (ForRange 0 10 (->
                  .value (Math.Add .value) > .value))
  .value (Log "Result") (Assert.Is 4096 true))
(defwire main1
  4 >= .value
  (Do pure0))

(schedule root main0)
(schedule root main1)
(if (run root 0.1) nil (throw "Root tick failed"))

; This should fail, wrapped in eval to catch compose error
(defwire failure-case "(do
  (defpure pure
    (ForRange 0 10 (->
                    .value (Math.Add .value) > .value))
    .value)
  (defwire main
    4 >= .value
    (Do pure))
  (prepare main))"
  (EDN.Eval))

(schedule root failure-case)
(if (run root 0.1) (throw "Expected failure") nil)
