(defwire main-wire
  ["Hello" "world!" "How" "are" "we" "today?"]
  (String.Join :Separator " ") (Log)
  (Assert.Is "Hello world! How are we today?" true))

(defmesh root)
(schedule root main-wire)
(run main-wire)
