(defwire main-wire
  ["Hello" "world!" "How" "are" "we" "today?"]
  (String.Join :Separator " ") (Log)
  (Assert.Is "Hello world! How are we today?" true)

  (bytes "0x7777") (BigInt) (BigInt.ToString) (Assert.Is "30583") (Log)

  ["Hello" "world!" "How" "are" "we" "today?"]
  (Bytes.Join)
  (Assert.Is (bytes "Helloworld!Howarewetoday?"))

  [(bytes "Hello") "world!"]
  (Bytes.Join)
  (Assert.Is (bytes "Helloworld!"))

  "hello" = .hello
  "world" = .world
  [.hello " " .world] (Bytes.Join) (Assert.Is (bytes "hello world")))

(defmesh root)
(schedule root main-wire)
(if (run main-wire) nil (throw "Root tick failed"))
