; SPDX-License-Identifier: BSD-3-Clause
; Copyright © 2021 Fragcolor Pte. Ltd.

(defmesh main)

(defwire table-test-1
  {} >= .edit-me
  {} > .edit-me)

(defwire table-test-2
  {} >= .edit-me
  {"x" 10} > .edit-me)

(schedule main table-test-1)
(schedule main table-test-2)
(run main)