(defmesh main)

(defloop
  time
  (Once (-> (Msg "1")) :Every 0.1)
  (Once (-> (Msg "2")) :Every 0.2)
  (Once (-> (Msg "3")) :Every 0.4)
  (Once (-> (Msg "4")) :Every 0.8)
  (Msg "main tick"))

(schedule main time)
(run main 0.1 20)