(defloop main-wire
  (GFX.MainWindow
   :Contents
   (->
    (Setup
     (GFX.DrawQueue) >= .ui-draw-queue-1
     (GFX.DrawQueue) >= .ui-draw-queue-2
     (GFX.UIPass .ui-draw-queue-1) >> .render-steps
     (GFX.UIPass .ui-draw-queue-2) >> .render-steps)
    .ui-draw-queue-1 (GFX.ClearQueue)
    .ui-draw-queue-2 (GFX.ClearQueue)

    (UI
     .ui-draw-queue-1
     (UI.CentralPanel
      (->
       "This is UI 1 " (UI.Label)
       (UI.Window :Title "Window" :Contents
                  (->
                   "This is UI 1" (UI.Label)
                   (UI
                    .ui-draw-queue-2
                    (->
                     (UI.CentralPanel
                      (->
                       "This is UI 2 (nested)" (UI.Label)
                       (UI.Window :Title "Window" :Contents
                                  (->
                                   "This is UI 2 (nested)" (UI.Label))))))))))))

    (GFX.Render :Steps .render-steps))))
(defmesh root)
(schedule root main-wire)
(run root 0.01 200)
