(def timestep (/ 1.0 120.0))
(defmesh Root)
(defloop test-wire
  (Setup
   0.0 >= .time

    ; Create render steps
   (GFX.BuiltinFeature :Id BuiltinFeatureId.Transform) >> .features
   (GFX.BuiltinFeature :Id BuiltinFeatureId.BaseColor) >> .features
   {:Features .features} (GFX.DrawablePass) >> .render-steps

    ; Create view
   {:Position (Float3 0 0 8) :Target (Float3 0 0 0)} (Math.LookAt) >= .view-transform
   (GFX.View :View .view-transform) >= .view)
  (GFX.MainWindow
   :Title "SDL Window" :Width 1280 :Height 720 :Debug false
   :Contents
   (->

    (VUI.Context (->
                  (VUI.Panel (->
                              (UI.CentralPanel (->
                                                "First panel" (UI.Label)))))
                  ;
                  (VUI.Panel (->
                              (UI.CentralPanel (->
                                                "Some other panel" (UI.Label)))))
                  ;
                  ))

    (GFX.Render :Steps .render-steps :View .view))))

(schedule Root test-wire)
(if (run Root timestep 100) nil (throw "Root tick failed"))
