; SPDX-License-Identifier: BSD-3-Clause
; Copyright © 2020 Fragcolor Pte. Ltd.

(def Root (Mesh))

(def test
  (Wire
   "ws-test"
   (Setup "ws://echo.websocket.events/ws" (WS.Client) = .ws-client
          (Log "ws-client"))
   (WS.ReadString .ws-client)
   (Log "Reading string")
   "Hello!" (WS.WriteString .ws-client)
   (WS.ReadString .ws-client)
   (Log "Reading string")
   (Assert.Is "Hello!" true)))

(schedule Root test)
(if (run Root 0.01) nil (throw "Failed"))

(def test nil)
(def Root nil)