(def bot-token "<SECRET>")

(def discord-dispatch
  (->
   (Take "t") (ExpectString)
   (Match ["MESSAGE_CREATE" (-> .payload (Take "d") (ExpectTable)
                                (Take "content") (ExpectString)
                                (Log "Message"))
           nil nil])))

(load-file "common.edn")

(defmesh root)
(schedule root discord-bot-loop)
(run root 0.1)