root = true

[{*.edn,*.clj,*.cpp,*.hpp,*.h,*.c,*.js}]
charset = utf-8
indent_size = 2
indent_style = space

[*.yml]
charset = utf-8
indent_size = 2
indent_style = space

[{*.cmake,CMakeLists.txt}]
charset = utf-8
indent_size = 2
indent_style = space
