[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/chainblocks/stb.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/chainblocks/json.git
[submodule "deps/easyloggingpp"]
	path = deps/easyloggingpp
	url = https://github.com/chainblocks/easyloggingpp.git
[submodule "deps/SPSCQueue"]
	path = deps/SPSCQueue
	url = https://github.com/chainblocks/SPSCQueue.git
[submodule "deps/bgfx"]
	path = deps/bgfx
	url = https://github.com/chainblocks/bgfx.git
[submodule "deps/bx"]
	path = deps/bx
	url = https://github.com/chainblocks/bx.git
[submodule "deps/bimg"]
	path = deps/bimg
	url = https://github.com/chainblocks/bimg.git
[submodule "deps/imgui_club"]
	path = deps/imgui_club
	url = https://github.com/chainblocks/imgui_club.git
[submodule "kcp"]
	path = deps/kcp
	url = https://github.com/chainblocks/kcp.git
[submodule "magic_enum"]
	path = deps/magic_enum
	url = https://github.com/chainblocks/magic_enum.git
[submodule "boost-context"]
	path = deps/boost-context
	url = https://github.com/chainblocks/context.git
[submodule "cpp-taskflow"]
	path = deps/cpp-taskflow
	url = https://github.com/chainblocks/cpp-taskflow.git
[submodule "deps/replxx"]
	path = deps/replxx
	url = https://github.com/chainblocks/replxx.git
[submodule "deps/nameof"]
	path = deps/nameof
	url = https://github.com/chainblocks/nameof.git
[submodule "deps/pdqsort"]
	path = deps/pdqsort
	url = https://github.com/chainblocks/pdqsort.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/chainblocks/SDL.git
[submodule "deps/implot"]
	path = deps/implot
	url = https://github.com/chainblocks/implot.git
[submodule "deps/filesystem"]
	path = deps/filesystem
	url = https://github.com/chainblocks/filesystem.git
[submodule "deps/libbacktrace"]
	path = deps/libbacktrace
	url = https://github.com/chainblocks/libbacktrace.git
