[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/shards-lang/stb.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/shards-lang/json.git
[submodule "kcp"]
	path = deps/kcp
	url = https://github.com/shards-lang/kcp.git
[submodule "magic_enum"]
	path = deps/magic_enum
	url = https://github.com/shards-lang/magic_enum.git
[submodule "cpp-taskflow"]
	path = deps/cpp-taskflow
	url = https://github.com/shards-lang/cpp-taskflow.git
[submodule "deps/nameof"]
	path = deps/nameof
	url = https://github.com/shards-lang/nameof.git
[submodule "deps/pdqsort"]
	path = deps/pdqsort
	url = https://github.com/shards-lang/pdqsort.git
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/shards-lang/SDL-org.git
[submodule "deps/filesystem"]
	path = deps/filesystem
	url = https://github.com/shards-lang/filesystem.git
[submodule "deps/libbacktrace"]
	path = deps/libbacktrace
	url = https://github.com/shards-lang/libbacktrace.git
[submodule "deps/wasm3"]
	path = deps/wasm3
	url = https://github.com/shards-lang/wasm3.git
[submodule "deps/xxHash"]
	path = deps/xxHash
	url = https://github.com/shards-lang/xxHash.git
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/shards-lang/Catch2.git
[submodule "deps/linalg"]
	path = deps/linalg
	url = https://github.com/shards-lang/linalg.git
[submodule "deps/tinygltf"]
	path = deps/tinygltf
	url = https://github.com/shards-lang/tinygltf.git
[submodule "deps/miniaudio"]
	path = deps/miniaudio
	url = https://github.com/shards-lang/miniaudio.git
[submodule "deps/utf8.h"]
	path = deps/utf8.h
	url = https://github.com/shards-lang/utf8.h.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/shards-lang/spdlog.git
[submodule "deps/kissfft"]
	path = deps/kissfft
	url = https://github.com/shards-lang/kissfft.git
[submodule "deps/brotli"]
	path = deps/brotli
	url = https://github.com/shards-lang/brotli.git
[submodule "deps/snappy"]
	path = deps/snappy
	url = https://github.com/shards-lang/snappy.git
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "deps/entt"]
	path = deps/entt
	url = https://github.com/shards-lang/entt.git
[submodule "deps/draco"]
	path = deps/draco
	url = https://github.com/shards-lang/draco.git
[submodule "shards/gfx/wgpu-native"]
	path = shards/gfx/rust/wgpu-native
	url = https://github.com/shards-lang/wgpu-native.git
[submodule "cmake/android-cmake"]
	path = cmake/android-cmake
	url = https://github.com/guusw/android-cmake.git
[submodule "shards/gfx/rust/wgpu"]
	path = shards/gfx/rust/wgpu
	url = https://github.com/shards-lang/wgpu.git
	branch = master
[submodule "shards/gfx/rust/profiling"]
	path = shards/gfx/rust/profiling
	url = https://github.com/shards-lang/rust-profiling.git
[submodule "deps/sqlite/cr-sqlite"]
	path = deps/sqlite/cr-sqlite
	url = https://github.com/shards-lang/cr-sqlite.git
	branch = shards
[submodule "deps/oneTBB"]
	path = deps/oneTBB
	url = https://github.com/shards-lang/oneTBB.git
