.vscode
*.bin
*.exe
*.pyc
*.dll
*.exp
*.lib
*.hpp.gch
*.pyd
Chainblocks.egg-info
src/py/MANIFEST
src/nim/tests/tcbvar.xml
src/nim/tcbvar.xml
*.log
build
build-release
build-lnx
src/core/.DS_Store
.DS_Store
src/.DS_Store
