(defloop main-wire
  (GFX.MainWindow
   :Contents
   (->
    (Setup
     (GFX.DrawQueue) >= .ui-draw-queue
     (GFX.UIPass .ui-draw-queue) >> .render-steps)
    .ui-draw-queue (GFX.ClearQueue)

    (UI
     .ui-draw-queue
     :Contents
     (UI.CentralPanel
       :Contents
      (UI.CentralPanel
       :Contents
       (UI.CentralPanel
        :Contents
        (UI.CentralPanel
         :Contents
         (UI.CentralPanel
          :Contents
          (UI.CentralPanel
           :Contents
           (UI.CentralPanel
            :Contents
            (UI.CentralPanel
             :Contents
             (UI.CentralPanel
              :Contents
              (UI.CentralPanel
               :Contents
               (UI.CentralPanel
                :Contents
                (UI.CentralPanel
                 :Contents
                 (UI.CentralPanel
                  :Contents
                  (UI.CentralPanel
                   :Contents
                   (UI.CentralPanel
                    :Contents
                    (UI.CentralPanel
                     :Contents
                     (UI.CentralPanel
                      :Contents
                      (UI.CentralPanel
                       :Contents
                       (UI.CentralPanel
                        :Contents
                        (UI.CentralPanel
                         :Contents
                         (UI.CentralPanel
                          :Contents
                          (UI.CentralPanel
                           :Contents
                           (UI.CentralPanel
                            :Contents
                            (UI.CentralPanel
                             :Contents
                             (UI.CentralPanel
                              :Contents
                              (UI.CentralPanel
                               :Contents
                               (UI.CentralPanel
                                :Contents
                                (UI.CentralPanel
                                 :Contents
                                 (UI.CentralPanel
                                  :Contents
                                  (UI.CentralPanel
                                   :Contents
                                   (UI.CentralPanel
                                    :Contents
                                    (UI.CentralPanel
                                     :Contents
                                     (UI.CentralPanel
                                      :Contents
                                      (UI.CentralPanel
                                       :Contents
                                       (UI.CentralPanel
                                        :Contents
                                        (UI.CentralPanel
                                         :Contents
                                         (UI.CentralPanel
                                          :Contents
                                          (UI.CentralPanel
                                           :Contents
                                           (UI.CentralPanel
                                            :Contents
                                            (UI.CentralPanel
                                             :Contents
                                             (UI.CentralPanel
                                              :Contents
                                              (UI.CentralPanel
                                               :Contents
                                               (UI.CentralPanel
                                                :Contents
                                                (UI.CentralPanel
                                                 :Contents
                                                 (UI.CentralPanel
                                                  :Contents
                                                  (UI.CentralPanel
                                                   :Contents
                                                   (UI.CentralPanel
                                                    :Contents
                                                    (UI.CentralPanel
                                                     :Contents
                                                     (UI.CentralPanel
                                                      :Contents
                                                      (UI.CentralPanel
                                                       :Contents
    ;; 50

                                                       (UI.CentralPanel
                                                        :Contents
                                                        (UI.CentralPanel
                                                         :Contents
                                                         (UI.CentralPanel
                                                          :Contents
                                                          (UI.CentralPanel
                                                           :Contents
                                                           (UI.CentralPanel
                                                            :Contents
                                                            (UI.CentralPanel
                                                             :Contents
                                                             (UI.CentralPanel
                                                              :Contents
                                                              (UI.CentralPanel
                                                               :Contents
                                                               (UI.CentralPanel
                                                                :Contents
                                                                (UI.CentralPanel
                                                                 :Contents
                                                                 (UI.CentralPanel
                                                                  :Contents
                                                                  (UI.CentralPanel
                                                                   :Contents
                                                                   (UI.CentralPanel
                                                                    :Contents
                                                                    (UI.CentralPanel
                                                                     :Contents
                                                                     (UI.CentralPanel
                                                                      :Contents
                                                                      (UI.CentralPanel
                                                                       :Contents
                                                                       (UI.CentralPanel
                                                                        :Contents
                                                                        (UI.CentralPanel
                                                                         :Contents
                                                                         (UI.CentralPanel
                                                                          :Contents
                                                                          (UI.CentralPanel
                                                                           :Contents
                                                                           (UI.CentralPanel
                                                                            :Contents
                                                                            (UI.CentralPanel
                                                                             :Contents
                                                                             (UI.CentralPanel
                                                                              :Contents
                                                                              (UI.CentralPanel
                                                                               :Contents
                                                                               (UI.CentralPanel
                                                                                :Contents
                                                                                (UI.CentralPanel
                                                                                 :Contents
                                                                                 (UI.CentralPanel
                                                                                  :Contents
                                                                                  (UI.CentralPanel
                                                                                   :Contents
                                                                                   (UI.CentralPanel
                                                                                    :Contents
                                                                                    (UI.CentralPanel
                                                                                     :Contents
                                                                                     (UI.CentralPanel
                                                                                      :Contents
                                                                                      (UI.CentralPanel
                                                                                       :Contents
                                                                                       (UI.CentralPanel
                                                                                        :Contents
                                                                                        (UI.CentralPanel
                                                                                         :Contents
                                                                                         (UI.CentralPanel
                                                                                          :Contents
                                                                                          (UI.CentralPanel
                                                                                           :Contents
                                                                                           (UI.CentralPanel
                                                                                            :Contents
                                                                                            (UI.CentralPanel
                                                                                             :Contents
                                                                                             (UI.CentralPanel
                                                                                              :Contents
                                                                                              (UI.CentralPanel
                                                                                               :Contents
                                                                                               (UI.CentralPanel
                                                                                                :Contents
                                                                                                (UI.CentralPanel
                                                                                                 :Contents
                                                                                                 (UI.CentralPanel
                                                                                                  :Contents
                                                                                                  (UI.CentralPanel
                                                                                                   :Contents
                                                                                                   (UI.CentralPanel
                                                                                                    :Contents
                                                                                                    (UI.CentralPanel
                                                                                                     :Contents
                                                                                                     (UI.CentralPanel
                                                                                                      :Contents
                                                                                                      (UI.CentralPanel
                                                                                                       :Contents
                                                                                                       (UI.CentralPanel
                                                                                                        :Contents
                                                                                                        (UI.CentralPanel
                                                                                                         :Contents
                                                                                                         (->
                                                                                                          "Hello shards" (UI.Label))

       ;
                                                                                                         ))))))))))))))))))))))))))))))))))))))))))))))))))
       ;
                                                       ))))))))))))))))))))))))))))))))))))))))))))))))))
       ;
     )

    (GFX.Render :Steps .render-steps))))

(defmesh root)
(schedule root main-wire)
(run root (/ 1.0 120.0))
