(def timestep (/ 1.0 120.0))

(defloop gfx
  (Setup
   0.0 >= .time

   (GFX.EffectPass
    :EntryPoint (->
                 (Shader.ReadInput "texCoord0") (ToFloat4) (Math.Add (Float4 0 0 0 1))
                 (Shader.WriteOutput "color") ; End shader
                 )) >> .render-steps)

  (GFX.Render :Steps .render-steps))

(defmesh root)
(schedule root (Wire "test-wire" :Looped :LStack
                     (GFX.MainWindow :Title "SDL Window" :Width 1280 :Height 720  :Contents
                                     (Step gfx))))
(run root timestep 100)
