(defwire wire-1
  (Log "Table")
  (Take "b")
  (Math.Add 2) ; Do an add to make sure the type is correct
  (Log "Table b value + 2"))

(defwire wire-2
  (Log "Table")
  (Take "d")
  (Math.Add 2) ; Do an add to make sure the type is correct
  (Log "Table d value + 2"))

(defwire main-wire
  {:a 0 :b 1 :c 2} >= .table
  .table (Do wire-1)

  ; This should update b in the table
  4 (Update .table :Key "b")
  .table (Do wire-1)

  5 (Set .table :Key "d")
  .table (Do wire-2))

(defmesh root)
(schedule root main-wire)
(if (run main-wire) nil (throw "Root tick failed"))
