[package]
name = "chainblocks"
version = "0.1.0"
authors = ["Giovanni Petrantoni <sinkingsugar@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
dlopen = "0.1.8"
ctor = "0.1.2"
csv = { version = "1.1.3", optional = true }

[build-dependencies]
bindgen = "0.54.0"

[features]
default = []
dummy = []
blocks = ["csv"]
cb_static = []
cb_dynamic = []