
(defloop main-wire
  (Setup
  
  (GFX.MainWindow
   :Title "MainWindow" :Width 1920 :Height 1080
                 
                 (UI
                  .ui-draw-queue
                  (->
                   (UI.Area :Position .Score_Effect_Position
                              :Anchor Anchor.Center
                              :Contents (->
                                         .Character_Image (UI.Image :Scale (float2 0.2))
                                         ))))
                 
                 (GFX.Render :Steps .render-steps)
                 
                 )))
  

(defmesh main)
(schedule main main-wire)
(run main (/ 1.0 60))


