(def cube-rotations [(Float3 0 -90.0 0) ; X+
                     (Float3 0 90.0 0) ; X-
                     (Float3 90.0 0 0) ; Y+
                     (Float3 -90.0 0 0) ; Y-
                     (Float3 0 180.0 0) ; Z+
                     (Float3 0 0 0) ; Z-
                     ])
(defshards xyz-to-mat []
  (| (Take 0) >= .x) (| (Take 1) >= .y) (| (Take 2) >= .z)
  .x (Math.DegreesToRadians) (Math.AxisAngleX) (Math.Rotation) >= .rx
  .y (Math.DegreesToRadians) (Math.AxisAngleY) (Math.Rotation) >= .ry
  .z (Math.DegreesToRadians) (Math.AxisAngleZ) (Math.Rotation) >= .rz
  .rx (Math.MatMul .rz) (Math.MatMul .ry))

(defshards render-cubemap [queue included-steps features cube-tex]
  (GFX.Texture :Format TextureFormat.RGBA8Unorm :Resolution (Int2 512) :Dimension TextureDimension.Cube) >= cube-tex
  included-steps >= .env-steps
  {:Queue queue :Features features} (GFX.DrawablePass) >> .env-steps
  (map
   (fn* [n] (->
             cube-rotations (Take n) (xyz-to-mat) >= .tmp-mat0
             (Float3 0 20 0) (Math.Translation) >= .tmp-mat1
             .tmp-mat0 (Math.MatMul .tmp-mat1) >= .view-transform
             (GFX.View .view-transform) >= .capture-view
             (GFX.RenderInto :Textures {:color {:Texture cube-tex :Face n}}
                             :Size (Int2 512) ; Controls cubemap dimensions
                             :Contents (->
                                        (GFX.Render :Steps .env-steps :View .capture-view)));
             ))
   (range 0 5));
  )

(defshards setup-reflection-feature [name included-steps]
  {:Shaders
   [{:Stage ProgrammableGraphicsStage.Fragment
     :After ["writeColor"]
     :Before []
     :EntryPoint
     (->
      (Shader.ReadInput "worldNormal") >= .world-normal
      .world-normal (Shader.SampleTextureCoord "env")
      (Math.Multiply (Float4 1 1 1 0)) (Math.Add (Float4 0 0 0 1))
      (Shader.WriteOutput "color"))}]} (GFX.Feature
                                        :ViewGenerators (->
                                                         (| (Take "Queue") >= .parent-queue)
                                                         (| (Take "View") >= .parent-view)
                                                         (| (Take "Features") >= .parent-features)

                                                         (render-cubemap .parent-queue included-steps .parent-features .cube-tex)
                                                         {:env .cube-tex})) >= name
  name)
