
(defshards shadow-vs []
  ;; (Float4 0.0) (Shader.WriteOutput "depth")
  (Float4 0.0))
(defshards setup-lighting-feature []
  {:Shaders [{:Stage ProgrammableGraphicsStage.Vertex
              :EntryPoint (shadow-vs)}]}
  (GFX.Feature
   :ViewGenerators
   [(-> (| (Take "Queue") >= .parent-queue)
        (| (Take "View") >= .parent-view)

        (Float3 100.0 0.0 0.0) = .shadow-arm
        (Float4 -1.0 0.0 0.0 0.0) >= .shadow-dir-4
        (Float3 0.0 0.0 0.0) (xyz-to-mat) >= .tmp
        .tmp (Math.MatMul .shadow-dir) (ToFloat3) = .shadow-dir
        (Math.MatMul .shadow-target-pos) .shadow-cam-pos

        (GFX.BuiltinFeature :Id BuiltinFeatureId.Transform) >> .features
        (GFX.BuiltinFeature :Id BuiltinFeatureId.BaseColor) >> .features
        (Int2 1024) = .size

        {:Features .features :Queue .parent-queue :Outputs [{:Name "depth" :Format TextureFormat.Depth24Plus}]} (GFX.DrawablePass) >> .steps
        (GFX.Texture :Format TextureFormat.Depth24Plus :Resolution .size) >= .shadow-tex
        (GFX.RenderInto :Textures {:depth .shadow-tex}
                        :Contents (->
                                   (GFX.Render :Steps .steps :View .parent-view);
                                   ))

        {})]))