; Reference document

(defloop with-ui
  (UI
   (->
    ; useful to make a good looking app quickly
    (UI.TopPanel (-> ...))
    (UI.LeftPanel (-> ...))
    (UI.RightPanel (-> ...))
    (UI.BottomPanel (-> ...))
    ; central panel always last
    (UI.CentralPanel (-> ...))

    (UI.Window :Title "My Window" ; can be None (window options)
               :Contents (-> ...)))) = .this-ui

  ; requires gpu context etc
  ; but ideally rest of blocks can run from other threads and such
  (UI.Render .this-ui)
  ;
  )