; Reference document

(defloop with-ui
  (GFX.MainWindow
   :Title "egui demo" :Width 1024 :Height 768
   :Contents
   (->
    (Setup
     (GFX.DrawQueue) >= .ui-draw-queue
     (GFX.UIPass .ui-draw-queue) >> .render-steps)

    (UI
     .ui-draw-queue
     (->
      ; useful to make a good looking app quickly
      (UI.TopPanel (-> ...))
      (UI.LeftPanel (-> ...))
      (UI.RightPanel (-> ...))
      (UI.BottomPanel (-> ...))
      ; central panel always last
      (UI.CentralPanel (-> ...))

      (UI.Window :Title "My Window" ; can be None (window options)
                 :Contents (-> ...))))

    ; requires gpu context etc
    ; but ideally rest of blocks can run from other threads and such
    (GFX.Render :Steps .render-steps)))
  ;
  )
