name: CI

on:
  push:
    branches:
      - devel
  pull_request:
  workflow_dispatch:

jobs:
  # cancel-previous-workflows:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Cancel Previous Runs
  #       uses: chainblocks/cancel-workflow-action@0.7.0
  #       with:
  #         access_token: ${{ secrets.TOKEN }}

  #
  # Build shards for emscripten
  #
  wasm32-emscripten-st:
    uses: ./.github/workflows/build-wasm.yml
    secrets: inherit
    with:
      threading: st
      run-tests: true
  wasm32-emscripten-mt:
    uses: ./.github/workflows/build-wasm.yml
    secrets: inherit
    with:
      threading: mt
      run-tests: true

  #
  # Build shards for linux
  #
  Linux-Debug:
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
    with:
      build-type: Debug
      run-tests: true
      run-extra-tests: true
  Linux-Release:
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
    with:
      build-type: Release
      run-tests: true
  Linux-GPU:
    uses: ./.github/workflows/test-linux-gpu.yml
    secrets: inherit
    with:
      build-type: Debug

  #
  # Build shards and publish docker image
  #
  Linux-docker:
    uses: ./.github/workflows/build-linux-docker.yml
    secrets: inherit

  #
  # Build shards and run valgrind on Linux
  #
  Linux-valgrind:
    uses: ./.github/workflows/build-linux-valgrind.yml
    secrets: inherit

  #
  # Build shards for Windows
  #
  Windows-64bits-Debug:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    with:
      bitness: 64bits
      build-type: Debug
      runtime-tests: true
      run-tests: true
  Windows-64bits-Release:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    with:
      bitness: 64bits
      build-type: Release
      run-tests: true
  Windows-32bits-Debug:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    with:
      bitness: 32bits
      build-type: Debug
      runtime-tests: true
      run-tests: true
  Windows-32bits-Release:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    with:
      bitness: 32bits
      build-type: Release
      run-tests: true

  #
  # Build the documentation
  #
  docs:
    needs: [Windows-64bits-Debug, Windows-64bits-Release]
    uses: ./.github/workflows/build-doc.yml
    secrets: inherit
    with:
      publish: ${{ github.ref == 'refs/heads/devel' && github.event_name == 'push' }}

  #
  # Build shards for macOS
  #
  macOS-Debug:
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit
    with:
      build-type: Debug
      runtime-tests: true
      run-tests: true
  macOS-Release:
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit
    with:
      build-type: Release
      runtime-tests: true
      run-tests: true

  #
  # Build shards for iOS
  #
  iOS:
    uses: ./.github/workflows/build-ios.yml
    secrets: inherit
